<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apology</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <main class="main">
    <div class="card">
        <img alt="{{ top }}" class="img" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
    </div>
    </main>
</body>
</html>