<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <main class="main">
    <div class="card">
        <span class="card_top">
            <h2>LOGIN</h2>
            <a href="/sign_up">
                <h2 class="redirect">SIGN UP</h2>
            </a>
        </span>
        <form action="/login" method="post" class="form">
            <input type="text" name="id" id="id" placeholder="User Id" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button class="action">login</button>
        </form>
    </div>
    </main>
</body>
</html>